*{
    margin: 0;
    padding: 0;
}
.game-board{
    width: 100%;
}
#win{
    
    font-size: larger;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.game-grid{
    width: 450px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}
.box{
    width: 150px;
    border: 1px solid black;
    height: 150px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    padding: 34px;
    cursor: pointer;
}
#reset{
    text-align: center;
    font-size: 25px;
    margin-left: 117px;
    margin-top: 5px;
    width: 100px;

}
#start-over{
    border: none;
    padding: 0px;
    width: 180px;
    background-color: white;
}